<div class="table-container">
    <table class="table">
        <thead>
            <tr class="table-header">
                <th *ngFor="let header of config.headers">{{ header }}</th>
            </tr>
        </thead>
    
        <tbody>
            <tr *ngFor="let item of config.data"
                (click)="handleRowClicked(item)"
                class="table-row">
                <td *ngFor="let key of getItemKeys(item)">{{ item[key] }}</td>
            </tr>
        </tbody>
    </table>
</div>