button {
    height: 40px;
    min-width: 120px;
    padding: 5px 20px;
    border: none;
    border-radius: 8px;
    text-align: center;
}

button:hover {
    cursor: pointer;
    opacity: .9;
}

button:disabled {
    cursor: default;
    opacity: 1;
}