.popup {
    width: 300px;
    height: 56px;
    color: var(--unnamed-color-ffffff);
    display: flex;
    align-items: center;
    padding-left: 26px;
    border-radius: 6px;
    position: absolute;
    top: 20px;   
}

.popup__text {
    font-size: 13px;
}

.popup__success {
    background: var(--unnamed-color-66bb6a);
    box-shadow: 0px 10px 15px #4CAF505C;
}

.popup__error {
    background: var(--unnamed-color-ef7da0);
    box-shadow: 0px 10px 15px #EF7DA05C;
}

.popup__right {
    right: 20px;
}

.popup__left {
    left: 20px;
}

.popup:hover {
    cursor: pointer;
    opacity: 0.9;
}